{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- Main Theme Js -->
    <script async type="module" src="{{ asset('js/authentication-main.js') }}"></script>
{% endblock %}

{% block body %}
    <body>
        <div class="container-fluid custom-page">
            <div class="row bg-white">
                <!-- The image half -->
                <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent-3">
                    <div class="row w-100 mx-auto text-center">
                        <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto w-100">
                            <img src="{{ asset('images/pngs/' ~ pngs_img) }}" class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                        </div>
                    </div>
                </div>
                <!-- The content half -->
                <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
                    <div class="login d-flex align-items-center py-2">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- End -->
            </div>
        </div>
    </body>
{% endblock body %}
