parameters:
    level: 6
    errorFormat: symplify
    paths:
        - bin/
        - config/
        - modules/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php
        - src/Kernel.php
        - tests/bootstrap.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    friendly:
        editorUrl: 'vscode://file/%%file%%:%%line%%'
