parameters:
    level: 10
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
        - modules/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        consoleApplicationLoader: tests/console-application.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    doctrine:
        objectManagerLoader: tests/object-manager.php
    strictRules:
        disallowedLooseComparison: true
        booleansInConditions: true
        booleansInLoopConditions: true
        uselessCast: true
        requireParentConstructorCall: true
        disallowedBacktick: true
        disallowedEmpty: true
        disallowedImplicitArrayCreation: true
        disallowedShortTernary: true
        overwriteVariablesWithLoop: true
        closureUsesThis: true
        matchingInheritedMethodNames: true
        numericOperandsInArithmeticOperators: true
        strictFunctionCalls: true
        dynamicCallOnStaticMethod: true
        switchConditionsMatchingType: true
        noVariableVariables: true
        strictArrayFilter: true
        illegalConstructorMethodCall: true
