{# #################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) Kataev Yaroslav
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE
 ################################################################################# #}
<!-- Loader -->
<div id="loader" >
    <img src="{{ asset('icons/loader.svg') }}" alt="">
</div>
<!-- Loader -->

<!-- Page Loader JS -->
<script type="module" src="{{ asset('js/page-loader.js') }}"></script>
