{##################################################################################
 #  @Project    Katyargeor Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends 'add.html.twig' %}
{% trans_default_domain 'install' %}

{% block main %}
    <div class="flex-column">
        <div class="border rounded-3 shadow bg-secondary-subtle d-flex flex-row justify-content-center main p-3 mb-3 ms-2 me-2">
		    <form action="{{ path('install') }}" method="post">
          	    <div class="bg-secondary-subtle text-primary-emphasis flex-column">
               	    <div class="d-flex justify-content-center">
                	    <h2 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}install.user.user{% endtrans %}</h2>
               	    </div>
               	    <div class="d-flex justify-content-center">
					    <div class="flex-column">
						    <div class="flex-row d-flex justify-content-between pb-1">
                                <label for="Login" class="space pe-1">{% trans %}install.user.login{% endtrans %}</label>
                                <input type="text" name="Login" required size="30" value="Admin" class="space" id="Login">
                            </div>
                            <div class="flex-row d-flex justify-content-between pb-1">
                                <label for="Email" class="space pe-1">{% trans %}install.user.email{% endtrans %}</label>
                                <input type="email" name="Email" required size="30" class="space" id="Email">
                            </div>
                            <div class="flex-row d-flex justify-content-between toggle-password-container pb-1">
                                <label for="Password" class="space pe-1">{% trans %}install.user.password{% endtrans %}</label>
                                <input type="password" name="Password" required size="30" class="space preview-password" id="Password">
                            </div>
                            <div class="flex-row d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">{% trans %}install.button.submit{% endtrans %}</button>
                            </div>
                        </div>
               	    </div>
          	    </div>
		    </form>
        </div>
	</div>
{% endblock %}
   