{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% trans_default_domain 'users' %}

<h1>{% trans %}Hi!{% endtrans %}</h1>

<p>{% trans %}To reset your password, please visit the following link{% endtrans %}</p>

<a href="{{ url('kyg_reset_password', {token: resetToken.token}) }}">{{ url('kyg_reset_password', {token: resetToken.token}) }}</a>

<p>{% trans %}This link will expire in{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{% trans %}Cheers!{% endtrans %}</p>
