{##################################################################################
 #  @Project    KYG Framework for business
 #  @Version    1.0.0
 #
 #  @Copyright  (C) 2027 Kataev Yaroslav Georgievich
 #  @E-mail     yaroslaw74@gmail.com
 #  @License    GNU General Public License version 3 or later, see LICENSE.md
 ##################################################################################}
{% extends '@Users/base_login.html.twig' %}
{% trans_default_domain 'login' %}
{% form_theme resetForm 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ parent() }}
    Reset your password
{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-center">
        <h1 class="mb-3 font-weight-normal text-primary-emphasis">{% trans %}Reset your password{% endtrans %}</h1>
    </div>
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="d-grid gap-2 col-8 mx-auto">
            <button class="btn btn-lg btn-primary" type="submit">{% trans %}Reset password{% endtrans %}</button>
        </div>
    {{ form_end(resetForm) }}
{% endblock %}
