{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% trans_default_domain 'users' %}

<h1>{% trans %}Hi! Please confirm your email!{% endtrans %}</h1>

<p>
    {% trans %}Please confirm your email address by clicking the following link:{% endtrans %}<br><br>
    <a href="{{ signedUrl|raw }}">{% trans %}Confirm my Email{% endtrans %}</a>.
    {% trans %}This link will expire in{% endtrans %} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>{% trans %}Cheers!{% endtrans %}</p>
