@charset "utf-8";
/* CSS Document */

html, body {
    width: 100%; 
    height: 100%;
}
body {
    display: flex;
	flex-direction: column; 
}
header, footer {
    flex: 0 0 auto;
}
main {
    flex: 1 0 auto;
}
.simfony {
    width: 3rem; 
    height: 3rem;
}
.kyg {
    width: 1.75rem;
    height: 1.75rem;
}
