@charset "utf-8";
/* CSS Document */

.flex_column {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex_row, .flex_row_center {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.flex_row_center {
    justify-content: center;
	-webkit-justify-content: center;
}
.flex_0_1_auto {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}
.flex_0_1_100 {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
}
.flex_0_0_auto {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
.flex_0_0_75 {
    flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
}
.flex_0_0_25 {
    flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
}
.flex_1_1_auto {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}
.flex_0_0_95 {
    flex: 0 0 95%;
    -webkit-flex: 0 0 95%;
}
