@charset "utf-8";
/* CSS Document */

header {
	margin: 5px 0 0 0;
}
form {
	margin-top: 20px;
}
article {
	margin: 5px 0 5px 0;
}
main {
	min-height: calc(100vh - 263px);
}
.main, .login {
	background: #afbcff;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.05);
	padding: 0 5px 0 5px;
}
.login {
	width: 500px;
	height: 240px;
}
.logo {
	width: 150px;
	height: 150px;
	animation: 6s linear infinite rotate;
}
@keyframes rotate {
	from {
  		transform: rotateY(0deg);
	}
	to {
   		transform: rotateY(360deg);
	}
}
h1, h2, h3, p {
	text-rendering: optimizeLegibility;
	position: relative;
	text-align: center;
}
h1 {
	font-size: 40px;
	font-weight: 400;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
h2 {
	font-size: 30px;
	font-weight: 300;
}
h3 {
	font-size: 20px;
	font-weight: 300;
}
p {
	font-size: 18px;
	font-weight: 300;
}
label {
	font-size: 20px;
	font-weight: 300;
}
.cont {
	position: relative;
	margin: 15px 0 15px 0;
}
.space {
	font-size: 20px;
}
.overflow {
	 height: 200px;
}
@media screen and (max-width:480px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}
}
