<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>
	<system.webServer>
    	<defaultDocument>
        	<files>
            	<remove value="index.php" />
            	<add value="index.php" />
        	</files>
    	</defaultDocument>
		<rewrite>
			<rules>
				<rule name="Rule 1" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions>
        				<add input="{URL}::$0 ^(/.+)/(.*)::\2$" ignoreCase="false" negate="true" />
      				</conditions>
					<action type="Rewrite" url="[E=BASE:%1]" appendQueryString="true" />
				</rule>
				<rule name="Rule 2" stopProcessing="true">
					<match url="^" ignoreCase="false" />
					<conditions>
        				<add input="login .+" ignoreCase="false" negate="true" />
      				</conditions>
					<action type="Rewrite" url="[E=HTTP_AUTHORIZATION:%0]" appendQueryString="true" />
				</rule>
				<rule name="Rule 3" stopProcessing="true">
					<match url="^" ignoreCase="false" />
					<conditions>
        				<add input="(?:/(.*)|$)"  ignoreCase="false" negate="true" />
      				</conditions>
					<action type="Rewrite" url="index.php(?:/(.*)|$)" appendQueryString="true" />
				</rule>
				<rule name="Rule 4" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions>
        				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
      				</conditions>
					<action type="Rewrite" url="index.php" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>