/* Start:: Main Footer Container */
.main-footer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.main-footer-container .footer-content-left {
	display: flex;
	align-items: center;
	justify-content: start;
}

.main-footer-container .footer-content-right {
	display: flex;
	align-items: center;
	justify-content: end;
}

.main-footer-container .footer-element {
	display: flex;
	align-items: center;
	padding: 2px;
}

.footer .footer-logo .footer-logo-all,
.footer .footer-logo .footer-logo-dark,
.footer .footer-logo .footer-logo-white {
	height: 2rem;
	width: 2rem;
}

.footer .footer-logo .footer-logo-all {
	display: block;
}

[data-theme-mode=dark]
	.footer
	.main-footer-container
	.footer-logo
	.footer-logo-white,
[data-theme-mode=light]
	.footer
	.main-footer-container
	.footer-logo
	.footer-logo-dark {
	display: block;
}

[data-theme-mode=dark]
	.footer
	.main-footer-container
	.footer-logo
	.footer-logo-dark,
[data-theme-mode=light]
	.footer
	.main-footer-container
	.footer-logo
	.footer-logo-white {
	display: none;
}

/* End:: Main Footer Container */

/* Start:: Social Buttons */
.btn-linkedin {
	background-color: #0a66c2;
	color: #fff;
	border: 1px solid #0a66c2;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
	background-color: #0a66c2 !important;
	color: #fff !important;
	border: 1px solid #0a66c2 !important;
}

.btn-odnoklassniki {
	background-color: #ee8208;
	color: #fff;
	border: 1px solid #ee8208;
}

.btn-odnoklassniki:hover,
.btn-odnoklassniki:focus,
.btn-odnoklassniki:active {
	background-color: #ee8208 !important;
	color: #fff !important;
	border: 1px solid #ee8208 !important;
}

.btn-x-twitter {
	background-color: #000000;
	color: #fff;
	border: 1px solid #000000;
}

.btn-x-twitter:hover,
.btn-x-twitter:focus,
.btn-x-twitter:active {
	background-color: #000000 !important;
	color: #fff !important;
	border: 1px solid #000000 !important;
}

.btn-vkontakte {
	background-color: #5181b8;
	color: #fff;
	border: 1px solid #5181b8;
}

.btn-vkontakte:hover,
.btn-vkontakte:focus,
.btn-vkontakte:active {
	background-color: #5181b8 !important;
	color: #fff !important;
	border: 1px solid #5181b8 !important;
}

.btn-yandex {
	background-color: #ff0000;
	color: #fff;
	border: 1px solid #ff0000;
}

.btn-yandex:hover,
.btn-yandex:focus,
.btn-yandex:active {
	background-color: #ff0000 !important;
	color: #fff !important;
	border: 1px solid #ff0000 !important;
}

/* End:: Social Buttons */
