@charset "utf-8";
/* CSS Document */

html {
	background: #526cf7;
	background: radial-gradient(ellipse at center, #526cf7 0, #afbcff 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
body, header, article, main, footer {
	display: flex;
	display: -webkit-flex;
	width: 100%;
}
body {
    background-color: transparent;
	color: #091C75;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0; 
	height: 100%;
	flex-direction: column;
}
header, article, footer {
	flex-direction: row;
    -webkit-flex-direction: row;
}
header, article, main {
	justify-content: center;
	-webkit-justify-content: center;
}
footer {
	justify-content: space-between;
	flex-shrink: 0;
	-webkit-justify-content: space-between;
	-webkit-flex-shrink: 0;
}
.copyright {
	padding: 15px 15px 0 0;
	font-size: 15.3px;
	flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}
.logo_symfony {
	padding: 0;
	margin: 0;
}
.simfony {
	width: 117.775px;
	height: 50px;
}
.error {
	font-size: 18px;
	padding: 14px 10px 0 10px;
	color: #BC0808;
	text-align: center;
}
a {
	text-decoration: none		
}