{# #################################################################################
#  @Project    KYG Framework for business
#  @Version    1.0.0
#
#  @Copyright  (C) Kataev Yaroslav
#  @E-mail     yaroslaw74@gmail.com
#  @License    GNU General Public License version 3 or later, see LICENSE
################################################################################# #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    <!-- Main Theme Js -->
    <script async type="module" src="{{ asset('js/authentication-main.js') }}"></script>
{% endblock %}

{% block body %}
    <main id="swup">
        <div class="page error-bg" id="particles-js">
            <!-- Start::error-page -->
            <div class="main-error-wrapper page-h">
                <img src="{{ asset("images/pngs/1.png") }}" class="error-page-img" alt="error">
                <h2 class="title">{% trans %}Oopps. The page you were looking for doesn't exist.{% endtrans %}</h2>
                <h6 class="sub_title">{% trans %}You may have mistyped the address or the page may have moved.{% endtrans %}</h6>
                <a class="btn btn-outline-danger" href="{{ path('index') }}">{% trans %}Back to Home{% endtrans %}</a>
            </div>
        </div>
    </main>
{% endblock body %}
